<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
	<link rel="stylesheet" href="/assets/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet"> 
</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
		  <a class="navbar-item" href="/">
			<p style="font-family: 'Lobster Two', cursive; font-size: 30px;">Bob Shop</p>
			<i class="fas fa-frog fa-2x has-text-primary" style="padding-left: 3px; font-size: 30px;" aria-hidden="true"></i>
		</a>
	  
		  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		  </a>
		</div>
	  
		<div id="navbarBasicExample" class="navbar-menu">
		  <div class="navbar-start">
			<a class="navbar-item" href="https://github.com/WillMansueto/bob-shop">
			  Source Code
			</a>
	  
			<div class="navbar-item has-dropdown is-hoverable">
			  <a class="navbar-link">
				More
			  </a>
	  
			  <div class="navbar-dropdown">
				<a class="navbar-item">
				  About
				</a>
				<a class="navbar-item">
				  Jobs
				</a>
				<a class="navbar-item">
				  Contact
				</a>
				<hr class="navbar-divider">
				<a class="navbar-item">
				  Report an issue
				</a>
			  </div>
			</div>
		  </div>
	  
		  <div class="navbar-end">
			<div class="navbar-item">
			  <div class="buttons">
				<a href="/register" class="button is-primary">
				  <strong>Sign up</strong>
				</a>
				<a href="/login" class="button is-light">
				  Log in
				</a>
			  </div>
			</div>
		  </div>
		</div>
	</nav>
	<div class="section">
		<div class="columns is-centered">
			<div class="column is-four-fifths">
				<div class="columns">
					<div class="column is-half">
						<h2>Produtos: </h2>
					</div>
					<div class="column">
						<form action="" method="POST">
							<input class="input" type="text" name="search" id="search" placeholder="Pesquisar produtos"/>
						</form>
					</div>
				</div>
				<hr/>
				<div id="data-table">
					<table class="table is-bordered is-fullwidth">
						<thead>
							<th>Id</th>
							<th>Categoria</th>
							<th>Nome</th>
							<th>Preço</th>
							<th>Quantidade</th>
							<th>Total</th>
						</thead>
						<tbody>
							{{ range .Products }}
							<tr>
								<td>{{ .Id }}</td>
								<td>{{ .Category.Description }}</td>
								<td>{{ .Name }}</td>
								<td>{{ .Price }}</td>
								<td>{{ .Quantity }}</td>
								<td>{{ .Amount }}</td>
							</tr>
							{{ end }}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="/assets/js/jquery-3.7.1.min.js"></script>
	<script>
		var ajaxSearch = (search) => {
			$.ajax({
				type: 'POST',
				datatype: 'html',
				url: '/',
				beforeSend: () => {
					$("#data-table").html("Buscando...");
				},
				data: { search: search },
				success: (r) => {
					$("#data-table").html(r);
				}
			});
		};

		$("#search").keyup(() => {
			ajaxSearch($("#search").val());
		})
	</script>
	<script src="https://kit.fontawesome.com/a81ce89204.js" crossorigin="anonymous"></script><script src="https://kit.fontawesome.com/a81ce89204.js" crossorigin="anonymous"></script>
</body>
</html>
